/* .banner {
    background-size: cover;
    background-position: center;
    height: 100%;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(22, 5, 5, 0.8)),
      url("https://img.freepik.com/fotos-premium/primer-plano-macro-placa-circuito-ciberespacial-microchip-componente-placa-base-computadora-estructura-chip-arte-generado-red-neuronal-no-basado-ninguna-escena-o-patron-real_479694-6349.jpg");
  }
  
  .banner-conteiner {
    text-align: center;
    padding: 15% 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    padding-left: 6rem;
    padding-right: 6rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  } */

  .banner {
    background-size: cover;
    background-position: center;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(22, 5, 5, 0.8)),
      url("https://img.freepik.com/fotos-premium/primer-plano-macro-placa-circuito-ciberespacial-microchip-componente-placa-base-computadora-estructura-chip-arte-generado-red-neuronal-no-basado-ninguna-escena-o-patron-real_479694-6349.jpg");
  }
  
  .banner-conteiner {
    text-align: center;
    padding: 15% 0;
    position: relative;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    padding-left: 6rem;
    padding-right: 6rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
  }

/* Estilos para resoluciones menores o iguales a 768px */
@media (max-width: 768px) {
    .banner-conteiner {
        padding: 10% 0;
    }
  
    .banner h1 {
        font-size: 35px;
        margin-top: 0.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
  
    .banner p {
        font-size: 20px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
